CWA_API_KEY=your_cwa_api_key
CWA_DATA_URL=https://opendata.cwa.gov.tw/api/v1/rest/datastore/O-A0003-001
CACHE_TTL_SECONDS=600
NEXT_PUBLIC_WINDY_API_KEY=your_windy_api_key
WINDY_API_KEY=your_windy_api_key
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
